<a href="https://colab.research.google.com/github/Disconnected1377/legendary-palm-tree/blob/main/Untitled1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Python programe for demonstrate the datatype

In [2]:
a= 50.000003001
b= "python"
c= "C"
print(a,"is", type(a));
print(b,"is",type(b));
print(c,"is",type(c));

50.000003001 is type(a)
python is <class 'str'>
C is <class 'str'>

**Python program to demonstrate numaric operation**

In [4]:
a=10
b=3
print("a+b=",a+b);
print("a-b=",a-b);
print("a X b=",a*b);
print("a//b= ",a//b); #floor division
print("a/b=",a/b);
print("a expinential b=", a**b); #not a^b

a+b= 13
a-b= 7
a X b= 30
a//b=  3
a/b= 3.3333333333333335
a expinential b= 1000

In [5]:
num_int=15;
f= float(num_int)
fi=10.4848
i=int(fi)
print(num_int, f, fi, i)

15 15.0 10.4848 10

In [8]:
z= 5+6j
print(type(z))

<class 'complex'>

In [9]:
l= complex(5,6)
lf=complex(7.001,8.034)
ni=float(l.real)
nf=l.imag
lfi=int(lf.real)
lff=lf.imag
print(l,lf,ni,nf,lfi,lff)

(5+6j) (7.001+8.034j) 5.0 6.0 7 8.034

**programe to access and slice a string**
[!] space in string will be counted as 1
[!] string out of index error can be generated due to accessing the greater index from the maximum number of index present in string. *italicized text*

In [12]:
t="python is fun"
print(t[0])
print(t[-1])
print(t[2:6])
print(t[:7])
print(t[4:])

p
n
thon
python
on is fun

In [13]:
str1="hello"
str2="world"
concatenated_str=str1+"  "+ str2
print(concatenated_str) #concatenation of string

hello  world

In [14]:
v= "hi"
print(v*3) #repeate the string

hihihi

String Slicing

In [15]:
str1="Python Programming"
print("First five characters: ",str1[:5])
print("Last five characters: ",str1[-5:])
print(str1[2:15:3]) # the 3 charaters wiil be skiped

First five characters:  Pytho
Last five characters:  mming
tnrrm

string formatting

In [17]:
str1="Alice"
age=30
height=5.6
formatted_str="His Name is {}. he is {} year old, and {:.2f} of height.".format(str1,age,height) # :.2f will print 2 decimal places
print(formatted_str)

His Name is Alice. he is 30 year old, and 5.60 of height.

In [29]:
import re
w="this is a string"
print(w.upper()) #print in uppercase
print(w.lower()) # print in lower case
print(w.replace("a", "another")) # print after replace a to another
print(w.split()) # split the string in list and print
print(w.startswith("t")) # print True if string starts with provided string or char
print(w.endswith("g")) #print True if string ends with provided string or char
print(w.isalpha()) #print True if string is only alphabatic no whitespaces, num etc..
print(w.isspace()) #print True if String is Only contain white space
print(w.isnumeric())# print True if String is only Numeric
print(w.find("is"))# print the index number where it find the provided string or char
print(w.count("is"))# print the counted number of provided string
print(w.isalnum)# print True if string is alphanumaric

THIS IS A STRING
this is a string
this is another string
['this', 'is', 'a', 'string']
True
True
False
False
False
2
2
<built-in method isalnum of str object at 0x7ac94613e830>